<header>
    <nav class="header-nav">
      <a id="redirect" class="header-title"  href="/">Moviefy</a>
      <div class="topnav">
        <a href="/movies/new">Add Movie</a>
        <a href="/movies">Movies</a>
        <a href="/directors/new">Add Director</a>
        <a href="/directors">Directors</a>

      </div>
    </nav>
  </header>
