<h2 class="page-header-color">New Director</h2>
<form action="/directors" method="POST">
    <%- include("_form_fields")%>
    <div class="container">
    <div class="my-form-row my-form-row-end my-btn-row row">
      <a class="btn btn-outline-danger" href="/directors">Cancel</a>
      <button class="btn btn-outline-primary" type="submit">Create</button>
    </div>
  </div>
</form>
