.footer-background-color{
  background: linear-gradient(to left, var(--color-background-light), var(--color-background-middle), var(--color-background-dark));
}
.footer-color{
  color:var(--color-text-light);
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;

}
.decoration369{
  font-style: italic;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  color: #c62d2d;
}
.bg-color{
  color: var(--color-text-light);
}
.change-color:hover{
  color:red;
}
.contact-me{
  margin: auto;
}
.contact-me h6{
  margin-left: 15px;
}
.toLeft{
  margin: auto;
  margin-left: -50px;
}

.social-icons{
  font-family: "Montserrat Alternates", sans-serif;
}
.social-icons a:hover{
  text-decoration: none;
}

.coming-soon a:hover{
  color: red;
  text-decoration: none;
}

.quick-links a:hover{
  color: red;
  text-decoration: none;
}

.copyright a:hover{
  color: red;
  text-decoration: none;
}
.contact-info i:hover{
  color:blue;
}
.mailto a{
  color: var(--color-text-light);
}
.mailto a:hover{
  text-decoration: none;
  color: blue;
}

/* Nexus 6P Mobile S 413px max */
@media screen and (max-width:413px) {
  .toLeft{
    margin-left: -15px;
  }
  .contact-me h6{
    margin-left: -25px;
  }

}
