:root{
  --form-label-font-size:1.2rem;
  --form-input-background-color: hsl(240,70%,25%);
  --form-input-border-color:hsl(253,70%,50%);
  --form-input-border-color-light: hsl(240,100%,80%);
}
.my-form-row{
  display: flex;
  margin-bottom: .5 rem;
}

.my-form-item{
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  flex-grow: 1;
  flex=basis:0;
}

.my-form-item:first-child{
  margin-left: 0;
}

.my-form-item-no-grow{
  flex-grow:0;
}

.my-form-row-end{
  justify-content: flex-end;
}

.my-form-item > label{
  font-size: var(--form-label-font-size);
  margin-bottom: .25rem;
  margin-left: .5rem;
}

.my-form-item input, .my-form-item select, .my-form-item textarea{
  height: 2rem;
  padding: .25rem .25rem;
  margin-bottom: 0.5rem;
  border-radius: .25rem;
  border: 1px solid var(--form-input-border-color);
  background-color: var(--form-input-background-color);
  color: var(--color-text-light);
  font-size: 1rem;
  font-weight: normal;
  font-family: "Montserrat Alternates";
  outline: none;

}

.my-form-item textarea{
  height: 100%;
  resize: none;
  margin-bottom: 15px;
}
.opis{
  margin-top: 18px;
}

.my-form-item select option{
  background-color: black;
}

.my-form-item input:focus, form-item select:focus, form-item textarea:focus{
  border-color: var(--form-input-border-color-light);
}

.filepond--root{
  font-family: 'Montserrat Alternates';
  margin-bottom: 0;
}
.filepond--panel-root{
  background-color: var(--form-input-background-color);
  border: 1px solid var(--form-input-border-color);
}

.filepond--drop-label{
  color: var(--color-text-light);
  font-size: inherit;
}
