:root {
  --movie-cover-width: 200px;
  --movie-cover-width-large: 325px;
  --movie-cover-aspect-ratio: 0.75;
}

.movie-cover {
  width: var(--movie-cover-width);
  height: calc(var(--movie-cover-width) / var(--movie-cover-aspect-ratio));

}
.movie-cover:hover{
  transform: scale(1.1);
}

.movie-cover-large {
  --movie-cover-width: var(--movie-cover-width-large);
}

.movie-grid {
  display: grid;
  justify-content: center;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, var(--movie-cover-width));
}

.movie-grid-large {
  grid-template-columns: repeat(auto-fill, var(--movie-cover-width-large));
}

.my-movie {
  margin-left: 15px;
}

.movie-details {
  display: flex;
}

.movie-details-label {
  font-size: 1.2rem;
  font-weight: 500;
  align-self: flex-start;
  font-family: "Montserrat Alternates", sans-serif;
  margin-left: 15px;
}

.movie-details-grid {
  display: grid;
  align-content: flex-start;
  align-items: center;
  grid-gap: 1rem;
  grid-template-columns: auto auto;
}

.movie-details-btn-grid {
  display: grid;
  justify-items: flex=start;
  align-items: flex-start;
  align-content: flex-start;
  grid-template-areas:
    "edit delete"
    "director director";
  grid-gap: .5rem;
  margin-top: .5rem;
}

.movie-details-director-btn {
  grid-area: director;
  justify-self: stretch;
}

@media screen and (min-width:570px) {
  .fixed-look {
    margin-left: 30px;
  }

  .top-fix {
    margin-top: 12px;
  }
}

@media screen and (max-width:570px) {
  .movie-details-label {
    margin-top: 10px;
  }

  .page-header-color {
    text-align: center;
  }

  .movie-cover-show {
    margin-left: 50%;
  }

  .btn-fixed {
    margin-left: 50%;
  }

  .my-btn {
    margin-left: 15px;
  }

  .firstPage-movie-cover {
    margin-left: 25%;
    margin-top: 5px;
  }

  .center-first-page-header {
    margin-left: 15%;
  }

  .center-mobile {
    text-align: center;
  }
}

/* Nexus 6P Mobile S 413px max */
@media screen and (max-width:413px) {
  .page-header-color {
    text-align: center;
    margin-bottom: 15px;
  }

  .movie-cover-show {
    margin-left: 20%;
  }

  .btn-fixed {
    margin-left: 20%;
  }

  .my-btn {
    margin-left: 15px;
  }

  .firstPage-movie-cover {
    margin-left: 25%;
    margin-top: 5px;
  }

  .center-first-page-header {
    margin-left: 15%;
  }

  .center-mobile {
    text-align: center;
    margin-top: 10px;
  }
}

/* Mobile S 360px max */
@media screen and (max-width:360px) {
  .page-header-color {
    text-align: center;
  }

  .movie-cover-show {
    margin-left: 20%;
  }

  .btn-fixed {
    margin-left: 20%;
  }

  .my-btn {
    margin-left: 15px;
  }

  .firstPage-movie-cover {
    margin-left: 25%;
    margin-top: 5px;
  }

  .center-first-page-header {
    margin-left: 15%;
  }

  .center-mobile {
    text-align: center;
    margin-top: 10px;
  }
}

/* Mobile S 411px min */
@media screen and (min-width:411px) {
  .page-header-color {
    text-align: center;
  }

  .movie-cover-show {
    margin-left: 30%;
  }

  .btn-fixed {
    margin-left: 30%;
  }

  .my-btn {
    margin-left: 15px;
  }

  .firstPage-movie-cover {
    margin-left: 25%;
    margin-top: 5px;
  }

  .center-first-page-header {
    margin-left: 15%;
  }

  .center-mobile {
    text-align: center;
    margin-top: 10px;
  }
}

/* Mobile S 320px max */
@media screen and (max-width:320px) {
  .page-header-color {
    text-align: center;
  }

  .movie-cover-show {
    margin-left: 10%;
  }

  .btn-fixed {
    margin-left: 10%;
  }

  .my-btn {
    margin-left: 15px;
  }

  .firstPage-movie-cover {
    margin-left: 25%;
    margin-top: 5px;
  }

  .center-first-page-header {
    margin-left: 15%;
  }

  .center-mobile {
    text-align: center;
    margin-top: 10px;
  }
}

@media screen and (orientation:landscape) {
  .page-header-color {
    text-align: center;
  }

  .movie-cover-show {
    margin-left: 85%;
  }

  .btn-fixed {
    margin-left: 85%;
  }

  .my-btn {
    margin-left: 15px;
  }

  .firstPage-movie-cover {
    margin-left: 25%;
    margin-top: 5px;
  }

  .center-first-page-header {
    margin-left: 15%;
  }

  .center-mobile {
    text-align: center;
  }

  .landscape {
    margin-top: 10px;
  }
}
