<h2 class="page-header-color">New Movie</h2>
<form class="row g-3" action="/movies" method="POST">
    <%- include("_form_fields")%>
    <div class="my-form-row my-form-row-end my-btn-row">
    <a  class="btn btn-outline-danger" href="/movies">Cancel</a>
    <button  class="btn btn-outline-primary" type="submit">Create</button>
    </div>
</form>
